:root {
    --color-primary: #4B69FD;
    --color-secondary: #FFF9EB;
    --color-tertiary: #C4C4C4;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
    --color-text: #444444;
    --color-white: #FFFFFF;
    --color-black: #000000;

    --fuente-merriweather: 'Merriweather', serif;
    --fuente-inter: 'Inter', sans-serif;
    --fuente-chakra-petch: 'Chakra Petch', sans-serif;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
  }
  
  .main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 40px;
  }
  
  /* Banner */
  .header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0% 0% 15%;
  }
  
  /* Sección de entrada */
  .input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-black);
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
  }
  
  /* Títulos */
  .main-title {
    font-size: 2rem;
    font-family: var(--fuente-merriweather);
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
  }
  
  #formulario {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  #formulario input, #formulario select, #formulario button {
    padding: 10px;
    margin-right: 10px;
    margin: 5px;
    flex: 1 1 auto;
    min-width: 150px;
  }
  
  .input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
  }
  
  .input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--color-black);
    border-radius: 25px 0 0 25px;
    font-size: 16px;
  }
  
  button {
    padding: 15px 30px;
    font-family: var(--fuente-inter);
    font-size: 16px;
    border: 2px solid var(--color-black);
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
    
  .button-container {
    width: 300px;
    justify-content: center;
  }
  
  .button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 16px;
  }
  
  .button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
  }
  
  #lista {
    overflow-x: auto;
  }
  
  #lista ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
  }
  
  ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: var(--fuente-inter);
    font-size: 18px;
    margin: 20px 0;
  }
  
  #lista li {
    padding: 5px;
    border-bottom: 1px solid #eee;
  }
  
  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }
  
    #formulario input,
    #formulario select,
    #formulario button {
      min-width: 100%; 
      margin: 5px 0; 
    }
  
    .main-content {
      
      width: auto;
    }
  }